.task {
  width: 100%;
  max-width: 736px;
  margin: calc(54px / 2 * -1) auto 0;
}

@media (max-width: 736px) {
  .task {
    padding: 0 1rem;
  }
}

.taskForm {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  width: 100%;
}

.taskForm input {
  color: var(--gray-300);
  background: var(--gray-500);
  border: solid 1px var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  flex-grow: 1;
}

.taskForm input:focus {
  color: var(--white);
  outline: 1px solid var(--purple-300);

  /* Alternative code border on focus */
  /* outline: transparent;
  border-color: var(--purple-300); */
}

.taskForm button {
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;
  background: var(--blue-700);
  border-radius: 8px;
  padding: 1rem;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.taskForm button:hover {
  background-color: var(--blue-300);
}

.taskForm button:focus {
  background-color: var(--blue-300);
}