.taskItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  padding: 1rem;
  margin-bottom: 12px;
  background: var(--gray-500);
  border-radius: 8px;
  border: solid 1px var(--gray-400);
}

.taskItem p {
  width: 100%;
}

/* Checked (Done) */

.taskItem .done svg circle {
  stroke: var(--purple-700);
}

.taskItem .done svg circle:first-of-type {
  fill: var(--purple-700);
  opacity: 1;
}

.taskItem .done svg polyline {
  stroke: var(--gray-100);
}

.taskItem .done:hover svg circle {
  stroke: var(--purple-300);
}

.taskItem .done:hover svg circle:first-of-type {
  fill: var(--purple-300);
  opacity: 1;
}

.taskItem p.done {
  color: var(--gray-300);
  text-decoration: line-through;
}

/* < */

/* Unchecked (Not Done) */

.taskItem .notDone svg circle {
  width: 24px;
  height: 24px;
  stroke: var(--blue-300);
}

.taskItem .notDone svg circle:first-of-type {
  fill: transparent;
}

.taskItem .notDone svg polyline {
  stroke: none;
}

.taskItem .notDone:hover svg circle {
  stroke: var(--blue-700);
  fill: var(--gray-400);
}

.taskItem p.notDone {
  color: var(--gray-100);
}

/* < */

.taskItem .buttonTrash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--gray-300);
  padding: 5px;
  border-radius: 4px;
}

.taskItem .buttonTrash:hover {
  background: var(--gray-400);
  color: var(--red-500);
}
